# Django Settings
DJANGO_SECRET_KEY =your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@serveiq.com

# Payment (Khalti Sandbox)
SANDBOX_KHALTI_URL = "https://dev.khalti.com/api/v2/"
KHALTI_SECRET_KEY = "your-khalti-secret-key"
KHALTI_PUBLIC_KEY = "your-khalti-public-key"

# Google API
GOOGLE_API_KEY = "your-google-api-key"

# PostgreSQL 
DB_ENGINE=your-database-engine # e.g., django.db.backends.postgresql
DB_NAME=your-database-name 
DB_USER=your-database-user
DB_PASSWORD=your-database-password
DB_HOST=your-database-host
DB_PORT=your-database-port