{% load static %}
<nav class="bg-primary px-6 rounded-2xl flex justify-between items-center shadow-lg relative z-20">
    <div class="flex items-center text-white font-bold text-lg md:text-xl uppercase tracking-wider">
        <img src="{% static 'images/logo.png' %}" />
        <span>Health Care</span>
    </div>

    <ul class="hidden lg:flex gap-8 list-none">
        <li>
            <a href="{% url 'index' %}"
                class="text-white text-sm font-medium uppercase tracking-wide hover:text-accent transition duration-300">Home</a>
        </li>
        <li>
            <a href="{% url 'appointments:doctor_list' %}"
                class="text-white text-sm font-medium uppercase tracking-wide hover:text-accent transition duration-300">Doctor</a>
        </li>
        <li>
            <a href="#"
                class="text-white text-sm font-medium uppercase tracking-wide hover:text-accent transition duration-300">Services</a>
        </li>
        <li>
            <a href="#"
                class="text-white text-sm font-medium uppercase tracking-wide hover:text-accent transition duration-300">About
                Us</a>
        </li>
        <li>
            <a href="#"
                class="text-white text-sm font-medium uppercase tracking-wide hover:text-accent transition duration-300">Contact
                Us</a>
        </li>
    </ul>

    <div class="flex gap-3">
        {% if user.is_authenticated %}
        <a href="{% url 'patients:patient_profile' %}"
            class="px-4 py-2 bg-accent text-primary rounded-lg text-sm font-semibold hover:bg-white transition duration-300 flex items-center gap-2">
            <span class="material-symbols-outlined text-sm">person</span>
        </a>
        <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit"
                class="px-4 py-2 bg-accent text-primary rounded-lg text-sm font-semibold hover:bg-white transition duration-300">
                Logout
            </button>
        </form>
        {% else %}
        <a href="{% url 'users:login' %}"
            class="px-4 py-2 bg-accent text-primary rounded-lg text-sm font-semibold hover:bg-white transition duration-300">
            Log in
        </a>
        <a href="{% url 'users:register' %}"
            class="hidden md:block px-4 py-2 bg-accent text-primary rounded-lg text-sm font-semibold hover:bg-white transition duration-300">
            Sign up
        </a>
        {% endif %}
    </div>
</nav>